<p id="notice"><%= notice %></p>
 
<h1>Listing Events</h1>

<%= form_tag @event,:remote => true, :method => 'get' do %>
  <%= text_field_tag :search_event, params[:query] %>
  <%= submit_tag "Search", :name => nil %>  
<% end %>

<div id= "search">
  <%= render :partial => "events/search", :locals => {:event => @events}  %>
</div>


<%= link_to 'New Event', new_event_path %>
